<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/favicon.ico" sizes="any">
    <link rel="icon" href="assets/img/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="assets/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="assets/images/favicon-96x96.png" sizes="96x96" type="image/png">
  
  {% seo title=false %}

  <title>
      {% if page.tag or page.title %}
        {% if page.tag %}
          {{ page.tag | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
        -
      {% endif %}
      {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
        Page {{ paginator.page }} of {{ paginator.total_pages }} -
      {% endif %}
      {{ site.title | escape }}
      {% unless page.tag or page.title %}
        - {{ site.description | escape }}
      {% endunless %}
    </title>
  
<!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="My Website Title">
  <meta name="twitter:description" content="Art of J.L. Christian: A curated archive of works from a multidisciplinary artist, blending digital art, art direction, product development, and collaborative innovation. This evolving collection highlights groundbreaking projects and the creative synergies shaping J.L. Christian's artistic journey.">
  <meta name="twitter:image" content="/JLC-card.png">
  
<!-- HTML Meta Tags -->
<title>JLC-ART</title>
<meta name="description" content="JLC-ART is a meticulously designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://jlc-art.com">
<meta property="og:type" content="website">
<meta property="og:title" content="JLC-ART">
<meta property="og:description" content="JLC-ART is a meticulously designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/e4e42d8a-5b37-43bf-8ad0-52f1532c4669.png?token=h1XhdM4BMgv9zlEMQaHOYvXqiN3vYwXra647hcEck_s&height=627&width=1200&expires=33271798750">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="jlc-art.com">
<meta property="twitter:url" content="https://jlc-art.com">
<meta name="twitter:title" content="JLC-ART">
<meta name="twitter:description" content="JLC-ART is a meticulously designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/e4e42d8a-5b37-43bf-8ad0-52f1532c4669.png?token=h1XhdM4BMgv9zlEMQaHOYvXqiN3vYwXra647hcEck_s&height=627&width=1200&expires=33271798750">



<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

</head>
