<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/favicon.ico" sizes="any">
    <link rel="icon" href="assets/img/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="assets/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="assets/images/favicon-96x96.png" sizes="96x96" type="image/png">
  
  {% seo title=false %}

  <title>
      {% if page.tag or page.title %}
        {% if page.tag %}
          {{ page.tag | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
        -
      {% endif %}
      {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
        Page {{ paginator.page }} of {{ paginator.total_pages }} -
      {% endif %}
      {{ site.title | escape }}
      {% unless page.tag or page.title %}
        - {{ site.description | escape }}
      {% endunless %}
    </title>
  
<!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="My Website Title">
  <meta name="twitter:description" content="Portfolio Codex of J.L. Christian: A curated archive of works from a multidisciplinary artist, blending digital art, art direction, product development, and collaborative innovation. This evolving collection highlights groundbreaking projects and the creative synergies shaping J.L. Christian's artistic journey.">
  <meta name="twitter:image" content="/JLC-card.png">
  
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.baseurl }}/sitemap.xml" />

  <meta property="og:JLC-ART Codex" content="JLC-ART Codex">
  <meta property="og:description" content="ART Codex of J.L. Christian: A curated archive of works from a multidisciplinary artist, blending digital art, art direction, product development, and collaborative innovation. This evolving collection highlights groundbreaking projects and the creative synergies shaping J.L. Christian's artistic journey.">
  <meta property="og:image" content="/JLC-card.png">
  <meta property="og:url" content="https://seiminomore.github.io/">
  
<!-- Open Graph Meta Tags (for Facebook, LinkedIn, etc.) -->
  <meta property="og:title" content="JLC-Folio Codex">
  <meta property="og:description" content="JLC-Folio Codex is a meticulously designed system or document aimed at organizing and presenting a vast array of knowledge, resources, or creative works in a structured and accessible format.">
  <meta property="og:image" content="/JLC-card.png">
  <meta property="og:url" content="https://seiminomore.github.io/JLC-Folio">
  <meta property="og:type" content="website">

<!-- Additional Meta Tags -->
  <meta name="description" content="J.L. Christian's Portfolio Codex: A dynamic archive of multidisciplinary artistry, showcasing innovative works in digital art, product development, and creative collaborations.">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <meta property="og:JLC-card" content="JLC-ART">
      <meta property="og:description" content="JLC-ART - I'm Based on a True Story.">
      <meta property="og:image" content="/assets/img/JLC-card.png">
      <meta property="og:url" content="https://jlc-art.com">

      <link rel="icon" href="/favicon.ico" sizes="any">
      <link rel="icon" href="assets/img/favicon-16x16.png" sizes="16x16" type="image/png">
      <link rel="icon" href="assets/img/favicon-32x32.png" sizes="32x32" type="image/png">
      <link rel="icon" href="assets/img/favicon-96x96.png" sizes="96x96" type="image/png">
      
  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

</head>
